body{
	background-image:url(background.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:cover;
	background-position: center;
	margin:30px;
    text-align: center;
}

form{
	display : block;
	background-color:#A4A4A4;
	width:400px;
	height:290px;
	margin-top : 10%;
	margin-left:35%;
	border-radius:15%;
	opacity:0.9;
	
}

.error{
	text-align : center;
	color:red;
}

a{
	color:black;
}

a:hover{
	color:#FE2E2E;
}

